mixin headline
  header.header.md-accent-bg(layout='column', layout-align='end')
    span.md-display-1.font-weight-300 {{vm.homeworkTitle}}

div#review-dashboard(layout="column")
  +headline
  div.content
    md-tabs(md-dynamic-height, md-boder-bottom)
      md-tabs-wrapper
        md-tab(label="班级{{$index + 1}}" ng-repeat='class in vm.classes')
          md-content.md-tab-content.p-12
            div(layout='row'  layout-align="start center")
              md-input-container.md-block.md-headline.md-accent(flex='25')
                label 搜索姓名
                md-icon.icon-account-search.md-accent
                input(type='text' ng-model='vm.searchWords[$index]' ng-change='vm.search($index)')
            table(datatable="ng", dt-options="vm.dtOptions", class="row-border hover", dt-instance='vm.dtInstances[$index]')
              thead
                tr
                  th 姓名
                  th 学号
                  th 小组
                  th 评审
              tbody
                tr(ng-repeat="student in class", ng-class="{'md-light-green-100-bg': student.TAscore}")
                  td {{ student.fullname }}
                  td {{ student.sid }}
                  td Group {{ student.group }}
                  td
                    div(ng-hide='student.TAscore')
                      a() 评审
                    div(ng-show='student.TAscore')
                      a() 重评
                      |  (已评: {{student.TAscore}}分)
            div.card.md-whiteframe-4dp.p-12.mt-20(layout='row' layout-align="space-around center")
              div(flex='40' layout='column')
                span.font-size-30.font-weight-900.text-center 分数段人数
                div(layout='row')
                  div(layout='column', flex='30' layout-align='space-around center')
                    span.md-subhead 90~100：{{vm.scoreCounter[$index][0]}}人
                    span.md-subhead 80~90：{{vm.scoreCounter[$index][1]}}人
                    span.md-subhead 70~80：{{vm.scoreCounter[$index][2]}}人
                    span.md-subhead 60~70：{{vm.scoreCounter[$index][3]}}人
                  c3chart(bindto-id='pie-plot{{$index}}-chart', flex='70')
                    chart-column(column-id="90~100", column-values='{{vm.scoreCounter[$index][0]}}', column-type='pie')
                    chart-column(column-id="80~90", column-values='{{vm.scoreCounter[$index][1]}}', column-type='pie')
                    chart-column(column-id="70~80", column-values='{{vm.scoreCounter[$index][2]}}', column-type='pie')
                    chart-column(column-id="60~70", column-values='{{vm.scoreCounter[$index][3]}}', column-type='pie')
                    chart-pie(expand='true')
              div.h-300(flex='20' layout='column' layout-align='space-around center')
                span.font-size-30.font-weight-900 实时评分数据
                span.md-subhead 平均分：{{vm.averageScore[$index]}}
                span.md-subhead 最高分：{{vm.highScore[$index]}}
                span.md-subhead 最低分：{{vm.lowScore[$index]}}
