

mixin table-container
  //- md-virtual-repeat-container
  //-   div(md-virtual-repeat="group in class.groups")
  //-     span hello
  div(ng-repeat="group in class.groups" class="repeated-item" flex)
    header.md-accent-bg.p-12(layout-align="center" layout="row")
      span 小组{{$index+1}}
    table.simple
      thead
        tr
          th 学号
          th 姓名
          th 小组
          th 操作
      tbody
        tr(ng-repeat="student in group")
          td {{ student.sid }}
          td {{ student.fullname }}
          td {{ student.group }}
          td
            a(href="#") 评审


mixin chart
  header.p-24.h-h
    .md-title 成绩
  div.p-24(layout="row" layout-align="center")
    div
      c3chart(bindto-id="pie-chart{{class.id}}")
        chart-column(column-id="60-70" column-values="40" column-type="pie")
        chart-column(column-id="70-80" column-values="70" column-type="pie")
        chart-column(column-id="80-90" column-values="20" column-type="pie")
        chart-column(column-id="90-100" column-values="70" column-type="pie")
        chart-pie(expand="true")

mixin tab-content
  md-content.wrapper-bg.p-12(layout="row" layout-xs="column")
    div.p-12(flex="100" flex-gt-xs="35" layout="column")
      div.white-bg.md-whiteframe-2dp(layout="column")
        header.p-24.h-h
          .md-title 作业{{vm.homework.id}}: {{vm.homework.title}}
        div.ph-24.pv-12
          md-input-container
            label 小组
            md-select(ng-model="class.selectedGroup")
              md-option(ng-repeat="group in class.groups" ng-value="$index+1") 小组{{$index+1}}

      div.white-bg.md-whiteframe-2dp.mt-24
        +chart


    div.p-12(flex="100" flex-gt-xs="65")
      div.white-bg.md-whiteframe-2dp.p-24
        +table-container

div#review-list.page-layout.simple.fullwidth.doc-page.element-doc-page(layout="column")
  header.header.md-accent-bg.ph-24(layout="column" layout-align="end" ng-class="vm.theme.bg")
    .breadcrumb(layout='row' layout-align='start center')
      md-icon.s16(md-font-icon='icon-home')
      md-icon.s16.separator(md-font-icon='icon-chevron-right')
      span {{vm.location}}
      span.parent
    span.md-display-1.font-weight-300(ng-class="vm.theme.fg")
      | 欢迎回来,
      |{{vm.greeting}}
      |!

  md-content(layout="column")
    md-tabs.white-bg(md-dynamic-height)
      md-tab(label="班级{{$index + 1}}" ng-repeat="class in vm.classes")
        +tab-content



