
mixin group-review
	+group-title-due-info
	.review-container.pv-12(layout="column" ng-repeat="review in vm.reviewsGr")
		//- ng-repeat here
		+review

mixin group-title-due-info
	.group-title-due-info.ph-12.pt-12(layout='row' layout-align="space-between center")
		.group.md-title group {{vm.reviewsGr[0].group}}
		.title.md-title 第{{vm.homeworkId}}次作业
		.due.md-subhead {{vm.dateTime}}

mixin review
	.review.white-bg(layout="row")
		+review-image
		+review-user-info
		+review-comment
		+review-score

mixin review-image
	.image-box(flex='20') image-box

mixin review-user-info
	.user-info(flex='15' layout="column" layout-align="center center")
		.name {{review.reviewee.fullname}}
		.sid {{review.reviewee.username}}

mixin review-comment
	.comment(flex='50').p-6
		textarea.md-body-1(ng-model="review.comment" ng-disabled="!review.edit")

mixin review-score
	.score.ph-6.pt-6(layout="column" flex)

		input.md-body-1(type="text" ng-model="review.score" ng-disabled="!review.edit")

		.submit-score(layout="column" ng-hide="review.score")
			md-button(ng-click="vm.submit(review)") submit

		.edit-score(layout="column" ng-show="review.score" ng-hide="review.edit")
			md-button(ng-click="vm.edit(review)") edit

		.editing-score(layout="column" ng-show="review.edit")
			md-button(ng-click="vm.update(review)") update
			md-button(ng-click="vm.cancle(review)") cancle
