
mixin group-review
	+group-title-due-info
	.review-container.pv-12(flex layout="column" ng-repeat="review in vm.reviewsGr")
		+review

mixin group-title-due-info
	.group-title-due-info.ph-12.pt-12(flex layout='row' layout-align="space-between center")
		.group.md-title group {{vm.reviewsGr[0].group}}
		.title.md-title 第{{vm.homeworkId}}次作业
		.due.md-subhead {{vm.dateTime}}

mixin review
	.review.white-bg.md-whiteframe-1dp(class="{{'R-' + review.tScore + '-pl'}}" layout="row")
		+review-image
		+review-user-info
		+review-comment
		+review-score

mixin review-image
	div(flex='20' layout="column")
		.image-div(ng-class="review.bg" flex)

mixin review-user-info
	.user-info-container(flex='15' layout="column" layout-align="center center")
		.name.md-subhead {{review.reviewee.fullname}}
		.sid.md-subhead {{review.reviewee.username}}

mixin review-comment
	.comment-container(flex='50' layout="row" layout-align="center center")
		//- the way when comment displaying is the same as in the my score
		.review-ms-comment.md-subhead.p-12(ng-hide="review.editing" ng-model="review.comment") {{review.comment}}
		textarea.md-subhead(ng-show="review.editing" placeholder="请添加不少于50字的评审意见" wrap="virtual" ng-model="review.tempComment")

mixin review-score
	.score-container(layout="column" flex)

		input.md-subhead(placeholder="请评分0~100" type="text" ng-model="review.tempScore" ng-disabled="!review.editing")

		div(flex layout="column" layout-align="center")
			.submit-score.p-12(layout="column" layout-align="center center" ng-show="!review.score" )
				md-button.submit(ng-click="vm.submit(review)") submit

			.edit-score.p-12(layout="column" layout-align="center center" ng-show="!review.editing && review.score")
				md-button.edit(ng-click="vm.edit(review)") edit

			.editing-score.p-10(layout="column" layout-align="center center" ng-show="review.editing && review.score")
				md-button.update(ng-click="vm.update(review)") update
				md-button.mt-6.cancle(ng-click="vm.cancle(review)") cancle
