#homework-review-header
	header
		height: 160px
		min-height: 160px
		max-height: 160px
		padding-bottom: 32px
		// background: url('/assets/images/backgrounds/may.jpg') no-repeat 0 45%;
		// background-size: 100% auto;

#homework-review-container

	.md-tab
		min-width: 160px
		max-width: 160px

	.image-box
		min-height: 160px
		min-width: 120px
		// background-color: red
		border: 1px solid #66CCFF
	.user-info
		// background-color: blue
		border: 1px solid #66CCFF
	.comment
		// background-color: orange
		border: 1px solid #66CCFF
	.score
		border: 1px solid #66CCFF