#homework-review
  header
    height: 160px
    min-height: 160px
    max-height: 160px
    padding-bottom: 32px
    // background: url('/assets/images/backgrounds/may.jpg') no-repeat 0 45%;
    // background-size: 100% auto;
