.p-6
  padding: 6px

.p-12
  padding: 12px

.p-24
  padding: 24px

.m-0
  margin: 0px !important

.m-12 
  margin: 12px

.white-bg
  background-color: #ffffff

md-input-container:not(.md-input-invalid) > md-icon.valid-color
  color: green

md-input-container.md-input-invalid > md-icon.valid-color 
  color: red
