#main-content
    text-align: center
    margin: 20px

label
    text-align: left

md-input-container
    display: block

md-card
    background-color: white !important
    overflow: visible

.date-card, .hw-title, .hw-url
    min-width: 465px !important
    max-width: 500px !important
    margin: 15px 25px

.date-card
    padding-bottom: 60px

.hw-title, .hw-url
    padding-bottom: 20px
    
#button-submit
    width: 120px
    left: -25px

#button-reset
    width: 110px
    left: 12px

.input-container
    margin: auto
    max-width: 800px
    width: 90%

#dashboar
    header
        background-image: url(../assets/images/backgrounds/november.jpg) !important
        background-position: 0 58%
        color: white
        height: 160px

.md-datepicker-button
    left: 40px

.margin-rt-40
    margin-right: 40px

.hw-header
    font-size: 20pt
    text-align: left
    padding-left: 20px
    padding-top: 20px
    height: 60px
    margin-bottom: 40px

.class-header
    font-size: 16pt
    height: 55px
    text-align: left
    padding-left: 20px
    padding-top: 20px
    margin-bottom: 30px

.error-message
    color: rgb(213,0,0)
    font-size: 9pt
// header
//     background-color: rgb(80, 110, 120)