div#dashboar(layout="column")
  header(layout="column" layout-align="end")
    span.md-display-1.font-weight-300 欢迎回来，{{vm.greeting}}老师!

md-card#main-content(md-whiteframe='3')
    header.header.md-accent-bg.hw-header
        div.title 作业{{vm.currentHwNum}}
    form(ng-submit='vm.Submit()' name='form')
        md-content.md-padding(layout='row' layout-align='center center' layout-wrap)
            md-input-container.md-icon-float.md-input-invalid.hw-title(flex-xs='80' flex-gt-sm='40')
                md-icon.ng-scope.md-font.material-icons(md-font-icon='icon-pencil-box-outline')
                label 作业标题
                input(type='text' ng-model='vm.hwObj.title' required)

            md-input-container.md-icon-float.md-input-invalid.hw-url(flex-xs='80' flex-gt-sm='40')
                md-icon.ng-scope.md-font.icon-link.material-icons(md-font-icon='icon-link')
                label 作业链接
                input(type='text' ng-model='vm.hwObj.description' required)
        
        md-content.md-padding(layout='row' layout-align='center center' layout-wrap)
            md-card.date-card(ng-repeat='class in vm.classes' flex flex-gt-xs='45' layout='column')
                header.header.md-accent-bg.class-header
                    div.title 教务{{class.classId}}班
                div(layout='row')
                    md-input-container(flex='50')
                        label 开始日期
                        md-datepicker.datepicker(md-placeholder="日期" ng-model="class.startTime" name="date-start{{$index}}")
                    md-input-container.margin-rt-40(flex='10')
                        label 时
                        md-select(ng-model='vm.startHour[$index]')
                            md-option(ng-repeat='hour in vm.hours') {{hour}}     
                    md-input-container.margin-rt-40(flex='10')
                        label 分
                        md-select(ng-model='vm.startMin[$index]')
                            md-option(ng-repeat='min in vm.mins') {{min}}

                div(layout='row')
                    md-input-container(flex='50')
                        label 结束日期
                        md-datepicker.datepicker(md-placeholder="日期" ng-model="class.endTime" name="date-end{{$index}}")
                    md-input-container.margin-rt-40(flex='10')
                        label 时
                        md-select(ng-model='vm.endHour[$index]')
                            md-option(ng-repeat='hour in vm.hours') {{hour}}     
                    md-input-container.margin-rt-40(flex='10')
                        label 分
                        md-select(ng-model='vm.endMin[$index]')
                            md-option(ng-repeat='min in vm.mins') {{min}}
                p.error-message(ng-show='vm.dateEmpty[$index]') 日期不能为空
                p.error-message(ng-show='vm.dateInvalid[$index]') 开始时间不能大于结束时间
                
                
                
                
        md-content.md-padding(layout='row' layout-align='center center' md-whiteframe='2')
            md-button.md-raised.md-warn#button-submit(type='submit') 提交
            md-button.md-raised#button-reset(ng-click='vm.Reset()') 重置






