#header
    .header
        padding: 24px
        padding-bottom: 30px;
        background-image: url('/assets/images/backgrounds/july.jpg')
    .title
        color: rgba(80, 80, 80, 1)

.bg-white
    background-color: white !important

.date-card, .input-size
    min-width: 465px !important
    max-width: 500px !important
    margin: 15px 25px

.date-card
    height: 310px

.padding-bt-60
    padding-bottom: 60px
    
.padding-top-bt-35
    padding: 35px 0

.md-datepicker-button
    left: 20px

.margin-lf-7
    margin-left: 7%

.margin-rt-40
    margin-right: 40px

.margin-bt-40
    margin-bottom: 40px

.margin-lf-rt-3
    margin: 0 2.5%

.hw-header
    font-size: 24pt
    height: 80px
    background-color: rgb(245, 245, 245)
    color: rgba(80, 80, 80, 1)
    padding: 20px
    p
        margin: 0

.gap
    width: 100%
    height: 45px
    background-color: rgb(245, 245, 245)

.class-header
    font-size: 17pt
    height: 62px
    padding: 16px

.error-message
    color: rgb(213,0,0)
    font-size: 9pt
    text-align: center

.md-errors-spacer
    min-height: 0px !important
