div#homework-dashboard(layout="column")
  header.header.md-accent-bg(layout="column" layout-align="end")
    span.md-display-1.font-weight-300
      | 欢迎回来,
      |{{vm.greeting}}
      |!
  div.content.p-12
    md-tabs(md-dynamic-height, md-boder-bottom)
      md-tabs-wrapper
        md-tab(label="查看详情")
          md-content.md-tab-content.p-12
            div.m-12.card.md-whiteframe-4dp(id="chart" layout="row" flex="100" layout-wrap)
              div.p-24(flex="100" flex-gt-xs="50")
                c3chart(bindto-id="scoreChart")
                  chart-column(column-id="x" column-values="HW1, HW2, HW3, HW4, HW5, HW6, HW7, HW8, HW9, HW10, HW11")
                  chart-column(column-id="score" column-name="My Score" column-color="#19b0f5" column-values="30,200,100,400,150,250,120,150,210,99,120" column-type="area-spline")
                  chart-grid(show-x="false" show-y="true")
                  chart-axis-x(axis-type="category")
                  chart-axes(values-x="x" y="score")
              div.p-24(flex="100" flex-gt-xs="50")
                c3chart(bindto-id="rankChart")
                  chart-column(column-id="x" column-values="HW1, HW2, HW3, HW4, HW5, HW6, HW7, HW8, HW9, HW10, HW11")
                  chart-column(column-id="rank" column-name="My Rank" column-color="#ffb300" column-values="30,200,100,400,150,250" column-type="area-spline")
                  chart-grid(show-x="false" show-y="true")
                  chart-axis-x(axis-type="category")
                  chart-axes(values-x="x" y="score")

            div(layout="row" flex="100" layout-wrap)
              ms-widget.p-12(flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25" ng-repeat="homework in vm.homeworks")
                ms-widget-front.white-bg
                  div.ms-widget-header.font-size-16.p-12(ng-class="{'md-blue-500-bg': homework.status=='present', 'md-green-500-bg': homework.status=='future', 'md-grey-500-bg': homework.status=='finish'}" layout="row" flex="100" layout-align="space-between center")
                    span 作业{{homework.id}}
                    div(md-font-icon="icon-dots-vertical") {{vm.status[homework.status]}}

                  div.ms-widget-content.font-size-30.p-12
                    span(ng-class="vm.fg[homework.status]") {{homework.title}}

                  div.ms-widget-footer.font-size-14.p-12(layout="row" flex="100" layout-align="space-between center")
                    a(href="{{homework.description}}" target="blank") 作业链接
                    md-button.md-raised.md-primary(ng-if="homework.status == 'present'" ng-click="showSubmitDialog(homework.id)") 提交作业
                    md-button.md-raised.md-primary(ng-if="homework.status == 'finish'" ng-click="flipWidget()" aria-label="Flip widget") 查看详情

                ms-widget-back.white-bg(layout="column" flex="100")
                  div.ms-widget-header.font-size-16.p-12.md-grey-500-bg(layout="row" layout-align="space-between start")
                    span 作业{{homework.id}}
                    div.flip-to-front
                      md-button(class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget")
                            md-icon(md-font-icon="icon-close")
                  div(layout="column" layout-align="center center")
                    span 平均分：89
                    span 你的分数：89
                    span 你的排名：78

        md-tab(label="查看排名")
          md-content.md-tab-content.ph-24
            h1  在这里查看作业排名
            p 没意见吧
