div#homework-dashboar(layout="column")
  header.header.md-accent-bg(layout="column" layout-align="end")
    span.md-display-1.font-weight-300
      | 欢迎回来,
      |{{vm.greeting}}
      |!
  div.content
    md-tabs(md-dynamic-height, md-boder-bottom)
      md-tabs-wrapper
        md-tab(label="查看详情")
          md-content.md-tab-content.p-12
            div.m-12.chart.card.md-whiteframe-4dp(layout="row" flex="100" layout-wrap)
              div.p-24(flex="100" flex-gt-xs="50")
                nvd3(class="remove-x-lines remove-opacity" options="vm.scoreChart.options" data="vm.scoreChart.data")
              //- div.p-24(flex="100" flex-gt-xs="50")
              //-   canvas(id="line" class="chart chart-line" chart-data="vm.scoreChart.data" chart-labels="vm.scoreChart.labels" chart-legend="true" chart-series="vm.scoreChart.series")
              div.p-24(flex="100" flex-gt-xs="50")
                canvas(id="line" class="chart chart-line" chart-data="vm.rankChart.data" chart-labels="vm.rankChart.labels" chart-legend="true" chart-series="vm.rankChart.series")

            div(layout="row" flex="100" layout-wrap)
              ms-widget.p-12(flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25" ng-repeat="homework in vm.homeworks")
                ms-widget-front.white-bg
                  div.ms-widget-header.font-size-16.p-12(layout="row" flex="100" layout-align="space-between center")
                    span 作业{{homework.id}}
                    div(md-font-icon="icon-dots-vertical") 状态: {{vm.status[homework.status]}}

                  div.ms-widget-content.font-size-30.p-12
                    span(ng-class="vm.fg[homework.status]") {{homework.title}}

                  div.ms-widget-footer.font-size-14.p-12(layout="row" flex="100" layout-align="space-between center")
                    a(href="{{homework.description}}" target="blank") 作业链接
                    md-button.md-raised.md-primary(ng-if="homework.status == 'present'" ng-click="showSubmitDialog(homework.id)") 提交作业
                    md-button.md-raised.md-primary(ng-if="homework.status == 'finish'" ng-click="flipWidget()" aria-label="Flip widget") 查看详情

                ms-widget-back.p-16.white-bg
                  div.flip-to-front
                      md-button(class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget")
                          md-icon(md-font-icon="icon-close" class="s16")
                  div
                    span hello, world

        md-tab(label="查看排名")
          md-content.md-tab-content.ph-24
            h1  在这里查看作业排名
            p 没意见吧
