#time-format {
  text-align: center !important;
}

#time-format .date-font {
  color: gray;
}

#time-format .number-font {
  font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1.5em;
}