div#time-format(layout="row" layout-wrap ng-hide='timerHide' layout-align='center')
    div(flex="25%")
          div.number-font {{remain.days}}
          div.date-font 天
    div(flex="25%")
          div.number-font {{remain.hours}}
          div.date-font 时
    div(flex='25%')
          div.number-font {{remain.mins}}
          div.date-font 分
    div(flex='25%')
          div.number-font {{remain.secs}}
          div.date-font 秒