mixin change-password
  div.p-12(layout="row" layout-align="center center")
    button.md-button.change-password.md-accent(ng-click="vm.changePassword()") 修改密码

  div.change-password-container.pv-12#change-password-container(layout="column")
    div(layout="column")
      md-input-container.mb-0
        label(for="old") 旧密码
        md-icon(md-font-icon="icon-key")
        input(type="password" name="old" ng-model="vm.oldPassword" ng-blur="vm.validateOldPassword()")
        div.errordiv(ng-show="vm.isOldPasswordInvalid") 请输入正确的密码

      md-input-container.mb-0
        label(for="new") 新密码
        md-icon(md-font-icon="icon-key")
        input(type="password" name="new" ng-model="vm.newPassword" ng-disabled="!vm.isOldPasswordCorrect" ng-blur="vm.checkNewPasswordValid()")
        div.errordiv(ng-show="vm.isNewPasswordInvalid") 6-18位密码,由数字、字母和下划线组成

      md-input-container
        label(for="confirm") 确认密码
        md-icon(md-font-icon="icon-key")
        input(type="password" name="confirm" ng-model="vm.confirmPassword" ng-disabled="!vm.isOldPasswordCorrect" ng-blur="vm.checkConfirmPasswordValid()")
        div.errordiv(ng-show="vm.isConfirmPasswordInvalid") 两次输入密码不一致

md-dialog.contact-dialog#dialog

  form(name="informationForm" novalidate ng-submit="signupForm()")
    md-toolbar.md-accent.md-tall.height-220(layout="column")
      header.title.ph-24.pv-12.md-toolbar-tools(layout="row" layout-align="space-between center" )
        div 修改信息
        button.md-icon-button(ng-click="vm.closeEditDialog()")
          md-icon(md-font-icon="icon-close")
      div.ph-12(layout="column")
        div(layout="column")
          div(flex="100" layout="row" layout-align="center start")
            img.md-avatar.avatar.huge(ng-src="{{vm.user.avatar}}")

          div.p-12(layout="row" layout-align="center center")
            label.md-button(for="upload-avatar") 上传头像
            input#upload-avatar.hide(type="file")

    md-dialog-content.dialog-container(ms-scroll layout="column")
      md-input-container.mb-0
        label(for="fullname") 姓名
        md-icon(md-font-icon="icon-account")
        input(type="text" name="fullname" value="{{vm.user.fullname}}" disabled)

      md-input-container.mb-0
        label(for="email") 邮箱
        md-icon(md-font-icon="icon-email")
        input(type="text" name="email" ng-model="vm.email" required ng-pattern="/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/")
        div(ng-messages="informationForm.email.$error")
          div(ng-message="required") 请输入邮箱
          div(ng-message="pattern") 请输入正确的邮箱


      md-input-container.mb-6(ng-if="vm.user.role === 'student' || vm.user.role === 'ta'")
        label(for="sid") 学号
        md-icon(md-font-icon="icon-book")
        input(type="text" name="sid" ng-model="vm.sid" required ng-pattern="/^[0-9]{8}$/")
        div(ng-messages="informationForm.sid.$error")
          div(ng-message="required") 请输入学号
          div(ng-message="pattern") 请输入正确的学号


      +change-password

    md-dialog-actions.p-12.pt-0.wrapper-bg(layout="row" layout-align="space-between center")
      md-button.raised(ng-click="vm.save()" ng-disabled="informationForm.email.$invalid || informationForm.sid.$invalid || vm.showOrHide && (vm.isOldPasswordInvalid || vm.isNewPasswordInvalid || isConfirmPasswordInvalid || vm.confirmPassword !== vm.newPassword || vm.newPassword == '')") 保存
      md-button.raised(ng-click="vm.reset()") 重置

