mixin basic-information
  div(layout="row", layout-wrap)
    .p-12(flex-gt-md="70" flex-gt-sm="70" flex="100")
      +person-information
    .p-12(flex-gt-md="30" flex-gt-sm="30" flex="100")
      +group-classmates
      //- +TA

mixin person-information
  .about(layout="column", flex="100")
    .profile-box.info-box.general.md-whiteframe-1dp(layout="column")
      header.md-accent-bg(layout="row" layout-align="space-between center")
        .title 基本信息
        U.more.secodary-text.fs-15(ng-click = "vm.openEditDialog()") 修改信息
      .content.p-12
        div.p-12(layout="row")
          div(flex="50")
            div(layout="row" layout-align="start start")
              md-icon.ma(md-font-icon="icon-account")
              .fs-18.grey-600-fg 姓名
            .fs-16.pt-5.fw {{vm.user.fullname}}
          div(flex="50")
            div(layout="row" layout-align="start start")
              md-icon.ma(md-font-icon="icon-key")
              .fs-18.grey-600-fg 权限
            .fs-16.pt-5.fw {{vm.user.role}}
        div.p-12(layout="row" ng-show="vm.user.role == '学生'")
          div(flex="50")
            div(layout="row" layout-align="start start")
              md-icon.ma(md-font-icon="icon-account-multiple")
              .fs-18.grey-600-fg 班级
            .fs-16.pt-5.fw {{vm.user.class}}班
          div(flex="50")
            div(layout="row" layout-align="start start")
              md-icon.ma(md-font-icon="icon-account-box")
              .fs-18.grey-600-fg 组号
            .fs-16.pt-5.fw 第{{vm.user.group}}组
        div.p-12(layout="row")
          div(flex="50")
            div(layout="row" layout-align="start start")
              md-icon.ma(md-font-icon="icon-email")
              .fs-18.grey-600-fg 邮箱
            .fs-16.pt-5.fw {{vm.user.email}}
          div(flex="50" ng-show="vm.user.role == '学生' || vm.user.role == 'TA'")
            div(layout="row" layout-align="start start")
              md-icon.ma(md-font-icon="icon-numeric-1-box")
              .fs-18.grey-600-fg 学号
            .fs-16.pt-5.fw {{vm.user.sid}}


mixin group-classmates
  .about-sidebar(layout="column", flex="100" ng-show="vm.user.role == '学生' || vm.user.role == 'TA'")
    .profile-box.friends.md-whiteframe-1dp(layout="column")
      header.md-accent-bg(layout="row", layout-align="space-between center")
        .title 小组成员
      .content.p-8(layout="row", layout-wrap)
        .friend.p-8(flex="25" layout="row" layout-align='center center')
          .avatar-container
            img(src="assets/images/avatars/alice.jpg")
        .friend.p-8(flex="25" layout="row" layout-align='center center')
          .avatar-container
            img(src="assets/images/avatars/andrew.jpg")
        .friend.p-8(flex="25" layout="row" layout-align='center center')
          .avatar-container
            img(src="assets/images/avatars/carl.jpg")
        .friend.p-8(flex="25" layout="row" layout-align='center center')
          .avatar-container
            img(src="assets/images/avatars/joyce.jpg")

mixin TA
  .about-sidebar(layout="column", flex="100" ng-show="vm.user.role == 'TA' || vm.user.role == '老师'")
    .profile-box.friends.md-whiteframe-1dp(layout="column")
      header.md-accent-bg(layout="row", layout-align="space-between center")
        .title TA
      .content.p-8(layout="row", layout-wrap)
        .friend.p-8(flex="25" layout="row" layout-align='center center')
          img(src="assets/images/avatars/alice.jpg")
        .friend.p-8(flex="25" layout="row" layout-align='center center')
          img(src="assets/images/avatars/andrew.jpg")
        .friend.p-8(flex="25" layout="row" layout-align='center center')
          img(src="assets/images/avatars/carl.jpg")
        .friend.p-8(flex="25" layout="row" layout-align='center center')
          img(src="assets/images/avatars/joyce.jpg")

