#profile {
    .bg1 {
        background: url('/assets/images/backgrounds/april.jpg') no-repeat 0 45%;
    }
    .bg2 {
        background: url('/assets/images/backgrounds/august.jpg') no-repeat 0 45%;
    }
    .bg3 {
        background: url('/assets/images/backgrounds/december.jpg') no-repeat 0 45%;
    }
    .bg4 {
        background: url('/assets/images/backgrounds/february.jpg') no-repeat 0 45%;
    }
    .bg5 {
        background: url('/assets/images/backgrounds/january.jpg') no-repeat 0 45%;
    }
    .bg6 {
        background: url('/assets/images/backgrounds/july.jpg') no-repeat 0 45%;
    }
    .bg7 {
        background: url('/assets/images/backgrounds/june.jpg') no-repeat 0 45%;
    }
    .bg8 {
        background: url('/assets/images/backgrounds/march.jpg') no-repeat 0 45%;
    }
    .bg9 {
        background: url('/assets/images/backgrounds/may.jpg') no-repeat 0 45%;
    }
    .bg10 {
        background: url('/assets/images/backgrounds/november.jpg') no-repeat 0 45%;
    }
    .bg11 {
        background: url('/assets/images/backgrounds/october.jpg') no-repeat 0 45%;
    }
    .bg12 {
        background: url('/assets/images/backgrounds/september.jpg') no-repeat 0 45%;
    }

    .header {
        height: 320px;
        min-height: 320px;
        max-height: 320px;
        // background: url('/assets/images/backgrounds/march.jpg') no-repeat 0 45%;
        background-size: 100% auto;

        .profile-image {
            margin-right: 24px;
        }

        .name {
            font-size: 34px;
            color: #FFFFFF;
        }

        .actions {

            .md-button {
                text-transform: none;
                padding: 0 16px;
                height: 32px;
                line-height: 32px;
                margin: 0 0 0 8px;
            }
        }
    }

    .content {

        md-content {
            background-color: transparent;
        }
    }

    // Profile boxes
    .profile-box {
        margin-bottom: 16px;

        header {
            padding: 16px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
            background-color: #FFF;
        }

        footer {
            padding: 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            background-color: rgba(0, 0, 0, 0.06);
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 500;
                    padding-bottom: 4px;
                }

                .info {

                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    
    md-tabs-wrapper {
        padding: 0px 24px;
    }
    .info-content {
        background-color: #F5F5F5 !important;
        padding: 12px;
        padding-bottom: 0px;
    }
    .p-12 {
        padding: 12px;
    }
    .left, .right {
        margin: 0px;
    }
    .label-font-size {
        font-size: 28px;
        font-weight: bold;
    }
    .big-font {
        font-size: 24px;
        font-weight: bold;
    }
    .small-font {
        font-size: 16px;
    }
    .m-100 {
      margin: 70px 0 0 0;
    }
    .button-size {
        height: 70px;
        width: 130px;
    }
    .button-font-color {
        color: rgb(255, 255, 255) !important;
    }
    .height-386 {
        height: 386px;
    }
}


// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-sm) {

    #profile {

        .header {

            .profile-image {
                margin: 0 0 16px 0;
            }

            .name {
                margin-bottom: 32px;
            }
        }
    }

}
