mixin edit-header
  md-toolbar.md-accent(style="min-height:60px;", md-whiteframe="1")
    .md-toolbar-tools
      h2 编辑该作业
      span(flex)
      md-button.md-icon-button(ng-click="cancel()", aria-label="close")
        md-icon.icon-close(style="font-size: 25px;")

mixin class-info
  md-dialog-content.p-12(flex, layout-padding)
    md-card.m-0.p-0.white-bg(md-theme="default")
      .p-12(layout="column", flex)
        div(flex="20", layout="row")
          md-input-container.md-block(flex)
            label 作业标题
            md-icon.valid-color(md-font-icon="icon-pencil-box-outline")
            input(ng-model='_vm.title' name='title' required)
            div(ng-messages='form.title.$error')
              div(ng-message='required') 标题不能为空！

        div(flex="20", layout="row")
          md-input-container.md-block(flex)
            label 作业链接
            md-icon.valid-color(md-font-icon="icon-link")
            input(ng-model='_vm.description' name='description' url-validator required)

            div(ng-messages='form.description.$error')
              div(ng-message='required') 链接不能为空！
              div(ng-message='url-characters') 链接格式错误！

        div.pl-20(flex='10' layout='row')
            div(flex='15')
                label class
                md-select(ng-model='_vm.classShowId' aria-label='classShowId')
                    md-option(ng-repeat='classId in _vm.classIds' value='{{classId}}') {{classId}}
        +class-detail

mixin class-detail
    md-content.wrapper-bg(flex='50' layout-wrap)
        div(ng-repeat="class in _vm.classes")
            div.white-bg.md-whiteframe-2dp(layout="column" ng-show="class.class_id == _vm.classShowId")
                +datepickers('开始日期', 'class.startTime', '_vm.startHour[$index]', '_vm.startMin[$index]')
                +datepickers('结束日期', 'class.endTime', '_vm.endHour[$index]', '_vm.endMin[$index]')
                span.error-message(ng-show='_vm.dateInvalid[$index]') 班级{{class.class_id}}开始时间不能大于结束时间

mixin datepickers(label, ngModelDay, ngModelHour, ngModelMin)
    div.pv-12.pr-24(flex='45' layout='row')
        md-input-container(flex='50' layout="row")
            label=label
            md-datepicker.datepicker.pr-0(md-placeholder="日期" ng-model=ngModelDay flex="100" required)
        md-input-container.hour(flex='25')
            label 时
            md-select(ng-model=ngModelHour)
                md-option(ng-repeat='hour in _vm.hours' value='{{hour}}') {{hour}}
        md-input-container(flex='25')
            label 分
            md-select(ng-model=ngModelMin)
                md-option(ng-repeat='min in _vm.mins' value='{{min}}') {{min}}



mixin submit-button
  md-dialog-actions.white-bg.p-12(layout="row", md-whiteframe="2", style="min-height: 50px")
    div(flex, layout="row", layout-align="start")
      md-button.m-0(ng-click="cancel()") 取消编辑
    div(flex, layout="row", layout-align="end")
      md-button.md-raised.md-warn(ng-click="deleteHomework($event)") 删除作业
      md-button.md-raised.md-accent.m-0(type='submit' ng-disabled='form.$invalid') 确定


//- 弹窗页面
#edit-homework-dialog(layout="column", ng-cloak)
  +edit-header

  form(name='form' ng-submit="editHomework()" novalidate)
    +class-info
    +submit-button
