
.AH-finish-pl
	border-left: 3px solid rgba(66, 165, 245, 0.9)
.AH-present-pl
	border-left: 3px solid rgba(255, 202, 40, 1)
.AH-future-pl
	border-left: 3px solid rgba(102, 187, 106, 1)

#edit-homework-dialog
 	min-width: 515px

#all-homeworks-header
	.header
		padding: 24px
		padding-bottom: 30px;
		background-image: url('/assets/images/backgrounds/july.jpg')
	.title
		color: rgba(80, 80, 80, 1)

#all-homeworks-container

	background-color: #F5F5F5
	.md-button
		margin: 0 !important
