
mixin homework
	md-card.white-bg.m-0
		+card-image
		.p-8
			+card-title
			+card-content
			+card-actions

mixin card-image
	.image-div(ng-class='homework.bg')

mixin card-title
	md-card-title.p-8
		md-card-title-text.md-headline 作业: {{homework.title}} ({{homework.tStatus}})

mixin card-content
	md-card-content.p-0
		.classes-container(layout='column')
			.class-container.p-8(flex ng-repeat='class in homework.classes')
				+class

mixin class
	.pl-10(class='{{"AH-" + class.status + "-pl"}}' layout='column')
		+class-id
		+class-status
		+class-time
		md-divider

mixin class-id
	.class.md-subhead class {{class.class_id}}

mixin class-status
	.status.md-subhead(layout='row' layout-align='space-between space-between')
		small.label 状态:
		small.content  {{class.tStatus}}

mixin class-time
	.time(layout='row' layout-align='space-between space-between')
		.md-subhead(layout='row')
			small.label 开始日期:
			small.content {{class.startTime | date: 'yyyy-MM-dd  HH:mm' }}
		.md-subhead(layout='row')
			small.label 结束日期:
			small.content {{class.endTime | date: 'yyyy-MM-dd  HH:mm' }}

mixin card-actions
	md-card-actions(layout="row" layout-align="start center")
		md-button(flex='33' ng-click='' ng-href="{{homework.description}}" target="_blank") 作业链接
		md-button(flex='33' ng-click='vm.editHomework(homework.id)') 编辑
		md-button(flex='33' ng-click='vm.reviewHomework(homework.id)' ng-hide="homework.status == 'future'") 评审


div#header-container
	div.page-layout.simple.fullwidth.doc-page.element-doc-page(layout="column")
		header.header.ph-24(layout='column' layout-align='end start' ng-class="vm.theme.bg")
			.breadcrumb(layout='row' layout-align='start center')
				md-icon.s16(md-font-icon='icon-home')
				md-icon.s16.separator(md-font-icon='icon-chevron-right')
				span {{vm.location}}
				span.parent
			.title(ng-class="vm.theme.fg") 欢迎回来, {{vm.greeting}}!

div#all-homeworks-container.p-12(layout-wrap='' layout='row' flex='100')
	.homework-container.m-0.p-12(flex='100' flex-gt-sm='50' flex-gt-md='33' ng-repeat='homework in vm.homeworks' layout='column')
		+homework
