
.AH-finish-pl
	border-left: 3px solid rgba(66, 165, 245, 0.9)
.AH-present-pl
	border-left: 3px solid rgba(255, 202, 40, 1)
.AH-future-pl
	border-left: 3px solid rgba(102, 187, 106, 1)

#all-homeworks-header
	.header
		padding: 24px
		padding-bottom: 30px;
		background-image: url('/assets/images/backgrounds/july.jpg')
	.title
		color: rgba(80, 80, 80, 1)

#all-homeworks-container

	background-color: #F5F5F5
	.md-button
		margin: 0 !important

// background image div url
$months : ('january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december')
@for $i from 1 through 12
	.image-div-#{$i}
		height: 100px
		background: url('/assets/images/backgrounds/#{nth($months, $i)}.jpg') no-repeat
		background-size: 100% auto
