
mixin chart
 div.p-12(flex="50" flex-sm="100")
    .md-title.mb-12 我的成绩
    .card.md-whiteframe-2dp.white-bg.p-12
      c3chart(bindto-id="scoreChart")
        chart-column(column-id="x" column-values="{{vm.homeworkIds}}")
        chart-column(column-id="score" column-name="分数" column-color="#19b0f5" column-values="{{vm.stringScores}}" column-type="line")
        chart-points(point-radius="4" show-point="true" point-expand-enabled="true"
                      point-expand-radius="8")
        chart-grid(show-x="false" show-y="true")
        chart-axis-x(axis-type="category")
        chart-axis-y(axis-max="100")
        chart-axes(values-x="x" y="score")

  div.p-12(flex="50" flex-sm="100")
    .md-title.mb-12 我的排名
    .card.md-whiteframe-2dp.white-bg.p-12
      c3chart(bindto-id="rankChart")
        chart-column(column-id="x" column-values="{{vm.homeworkIds}}")
        chart-column(column-id="rank" column-name="排名" column-color="#ff9800" column-values="{{vm.stringRanks}}" column-type="line")
        chart-points(point-radius="4" show-point="true" point-expand-enabled="true"
                      point-expand-radius="8")
        chart-grid(show-x="false" show-y="true")
        chart-axis-x(axis-type="category")
        chart-axis-y(axis-inverted="true" axis-max="150" padding-top="10" padding-bottom="20")
          chart-axis-y-tick(tick-format-function="vm.tickFormat")
        chart-axes(values-x="x" y="score")


mixin menu-item
  md-menu-item(width="4")
    md-button(ng-click="jump(homework.description)")
      md-icon(md-font-icon="icon-book")
      span 作业链接
  md-menu-item(ng-if="homework.classes[0].status === 'present'")
    md-button(ng-click="showSubmitDialog(homework.id)")
      md-icon(md-font-icon="icon-cloud-upload")
      span 提交作业
  md-menu-item(ng-if="homework.classes[0].status === 'present'")
    md-button(ui-sref="app.student.homework-review({ id: homework.id })")
      md-icon(md-font-icon="icon-document")
      span 互评
  md-menu-item(ng-if="homework.classes[0].status === 'finish'")
    md-button(ng-click="flipWidget()" aria-label="Flip widget")
      md-icon(md-font-icon="icon-document")
      span 作业详情


//- mixin comming-soon
//-   div#time-format(layout="row" layout-wrap ng-controller='hwTimer' ng-hide='timerHide' layout-align='center')
//-     div(flex="25%")
//-       div.number-font {{remain.days}}
//-       div.date-font days
//-     div(flex="25%")
//-       div.number-font {{remain.hours}}
//-       div.date-font hours
//-     div(flex='25%')
//-       div.number-font {{remain.mins}}
//-       div.date-font minutes
//-     div(flex='25%')
//-       div.number-font {{remain.secs}}
//-       div.date-font seconds


mixin homework-widget-front
  ms-widget-front.white-bg
    div.ph-24.pv-12.widget-head(layout="row" layout-align="space-between")
      div(layout="column" layout-align="center") 作业{{homework.id}}
      md-menu
        button(aria-label="more" ng-click="$mdOpenMenu($event)")
          md-icon(md-font-icon="icon-dots-vertical")
        md-menu-content
          +menu-item
    //- +comming-soon
    div(homework-timer="" hw-class='homework.classes[0]' style="height: 35px;")
    div.p-24.widget-body(layout="column" layout-align="center center")
      span.font-weight-500(ng-class="vm.style[homework.classes[0].status].fg") {{homework.title}}
    div.ph-24.pv-12.widget-foot
      span 状态: {{vm.style[homework.classes[0].status].status}}

mixin homework-widget-back
  ms-widget-back.white-bg(layout="column" flex="100")
    div.ph-24.pv-12.widget-head(layout="row" layout-align="space-between start")
      div(layout="column" layout-align="center") 作业{{homework.id}}
      div.flip-to-front
        md-button(class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget")
              md-icon(md-font-icon="icon-close")
    div.md-headline.height-150(layout="column" layout-align="center center")
      span 平均分：{{vm.AR.averScores[homework.id-1]}}
      span 你的分数：{{vm.IS.scores[homework.id-1]}}
      span 你的排名：{{vm.AR.ranks[homework.id-1]}}

mixin homework-widget
  +homework-widget-front
  +homework-widget-back

mixin homework-list
  div(layout="column")
    div(layout="row")
      div.md-title.ph-12(layout="row" layout-align="center center") 作业列表
      md-switch(aria-label="future" ng-model="vm.switch.future")
        | 未开始
      md-switch.md-warn(aria-label="present" ng-model="vm.switch.present")
        | 进行中
      md-switch.md-primary(aria-label="finish" ng-model="vm.switch.finish")
        | 已结束

    div(layout="row" layout-wrap)
      ms-widget.p-12(ng-if="vm.switch[homework.classes[0].status]" flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-sm="33" flex-gt-md="25" ng-repeat="homework in vm.homeworks")
        +homework-widget

page-header(location="作业列表" greeting="vm.user.fullname" month="2")

div#homework-dashboard
  md-content.p-12.wrapper-bg
    div#chart-container(layout="row" layout-sm="column")
      +chart
    div#homeworks-container
      +homework-list
