
#homework-dashboard {
  ms-widget {
    .widget-head {
      font-size: 18px;
    }
    .widget-body {
      font-size: 34px;
      padding-bottom: 48px !important;
    }
    .widget-foot {
      border-top: 1px solid rgba(0,0,0,.12);
      // background-color: #F5F5F5;
    }
  }
}

md-dialog {
  min-width: 400px;
}

#scoreChart .c3-line-score {
  stroke-width: 3px;
}

#rankChart .c3-line-rank {
  stroke-width: 3px;
}


#time-format {
  text-align: center !important;
}

#time-format .date-font {
  color: gray;
}

#time-format .number-font {
  font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 2em;
}

