.finish-pl
	border-left: 16px solid rgb(3, 155, 229);
.future-pl
	border-left: 16px solid green;
.present-pl
	border-left: 16px solid orange;
.finish
	color: white;
	background-color: rgba(3, 155, 229, 1);
.future
	color: white;
	background-color: rgba(0, 128, 0, 0.7);
.present
	color: white;
	background-color: rgba(255, 165, 0, 0.8);
.min-width
	min-width: 312px;