
// .AH-finish-pl
// 	border-left: 3px solid rgba(66, 165, 245, 0.9);
// .AH-present-pl
// 	border-left: 3px solid rgba(255, 202, 40, 1);
// .AH-future-pl
// 	border-left: 3px solid rgba(102, 187, 106, 1);

.AH-finish
	color: white;
	background-color: rgba(66, 165, 245, 0.9);
.AH-present
	color: white;
	background-color: rgba(66, 165, 245, 1);
.AH-future
	color: white;
	background-color: rgba(66, 165, 245, 1);

#all-homeworks-header
	.header
		min-height: 160px;
		max-height: 160px;
		background-image: url('/assets/images/backgrounds/july.jpg');
		// background-position: 0px 0px;
	.title
		padding-bottom: 6px;
		color: rgba(80, 80, 80, 1);

#all-homeworks-container
	.homework-container
	.min-width
		min-width: 312px;
	.dress
		margin: 0;
