@for $i from 1 through 10

	.padding-#{$i * 12},
	.p-#{$i * 12}
		padding: #{($i * 12) + 'px'};

	.padding-top-#{$i * 12},
	.pt-#{$i * 12}
		padding-top: #{($i * 12) + 'px'};

	.padding-right-#{$i * 12},
	.pr-#{$i * 12}
		padding-right: #{($i * 12) + 'px'};

	.padding-bottom-#{$i * 12},
	.pb-#{$i * 12}
		padding-bottom: #{($i * 12) + 'px'};

	.padding-left-#{$i * 12},
	.pl-#{$i * 12}
		padding-left: #{($i * 12) + 'px'};

	.padding-horizontal-#{$i * 12},
	.ph-#{$i * 12}
		padding-left: #{($i * 12) + 'px'};
		padding-right: #{($i * 12) + 'px'};

	.padding-vertical-#{$i * 12},
	.pv-#{$i * 12}
		padding-top: #{($i * 12) + 'px'};
		padding-bottom: #{($i * 12) + 'px'};


.AH-finish-pl
	border-left: 3px solid rgba(66, 165, 245, 0.9)
.AH-current-pl
	border-left: 3px solid rgba(255, 202, 40, 1)
.AH-future-pl
	border-left: 3px solid rgba(102, 187, 106, 1)


#all-homeworks-header
	.header
		background-image: url('/assets/images/backgrounds/july.jpg')
	.title
		padding-bottom: 6px
		color: rgba(80, 80, 80, 1)

#all-homeworks-container

	background-color: #F5F5F5


	.image-div-1
		height: 100px
		background: url('/assets/images/backgrounds/january.jpg') no-repeat
		background-size: 100% auto

	.image-div-2
		height: 100px
		background: url('/assets/images/backgrounds/february.jpg') no-repeat
		background-size: 100% auto

	.image-div-3
		height: 100px
		background: url('/assets/images/backgrounds/march.jpg') no-repeat
		background-size: 100% auto

	.image-div-4
		height: 100px
		background: url('/assets/images/backgrounds/april.jpg') no-repeat
		background-size: 100% auto

	.image-div-5
		height: 100px
		background: url('/assets/images/backgrounds/may.jpg') no-repeat
		background-size: 100% auto

	.image-div-6
		height: 100px
		background: url('/assets/images/backgrounds/june.jpg') no-repeat
		background-size: 100% auto

	.image-div-7
		height: 100px
		background: url('/assets/images/backgrounds/july.jpg') no-repeat
		background-size: 100% auto

	.image-div-8
		height: 100px
		background: url('/assets/images/backgrounds/august.jpg') no-repeat
		background-size: 100% auto

	.image-div-9
		height: 100px
		background: url('/assets/images/backgrounds/september.jpg') no-repeat
		background-size: 100% auto

	.image-div-10
		height: 100px
		background: url('/assets/images/backgrounds/october.jpg') no-repeat
		background-size: 100% auto

	.image-div-11
		height: 100px
		background: url('/assets/images/backgrounds/november.jpg') no-repeat
		background-size: 100% auto

	.image-div-12
		height: 100px
		background: url('/assets/images/backgrounds/december.jpg') no-repeat
		background-size: 100% auto
