#all-homeworks.page-layout.simple.fullwidth.doc-page.element-doc-page
	.header.md-accent-bg(layout='row', layout-align='space-between')
		div(layout='column', layout-align='center start')
			.breadcrumb(layout='row', layout-align='start center')
				md-icon.s16(md-font-icon='icon-home')
				md-icon.s16.separator(md-font-icon='icon-chevron-right')
				span.parent 
			.title 欢迎回来 {{vm.greeting}}


.white-bg.md-whiteframe-4dp.all-homeworks-container.md-padding(layout-wrap layout='row' flex='100')
	.homework-container(flex='100' flex-gt-xs='50' flex-gt-md='25' ng-repeat='homework in vm.homeworks' layout='column')
		.white-bg.md-whiteframe-1dp.m-10
			.md-subhead.p-5.pl-20(class='{{"AH-" + homework.status}}') 作业: {{homework.title}} ({{homework.tStatus}})
			.class-container.m-20.ml-10(layout='row' layout-align='start center' ng-repeat='class in homework.classes')
				.info-container.md-title.pl-10(class='{{"AH-" + class.status + "-pl"}}' layout='column' flex) class {{class.id}}
					.date.md-subhead
						span.label 开始日期:
						span.content  {{class['start-date'] | date: 'yyyy-MM-dd  HH:mm' }}
					.date.md-subhead
						span.label 结束日期:
						span.content  {{class['end-date'] | date: 'yyyy-MM-dd  HH:mm' }}
					.md-subhead
						span.label 状态:
						span.content  {{class.tStatus}}
					md-divider
			.actions(layout='row')
				a(href="{{homework.description}}")
					md-button.md-primary link
				md-button.md-primary(ng-click='vm.editHomework(homework.id)') edit
				md-button.md-primary(ng-click='vm.reviewHomework(homework.id)' ng-hide="homework.status == 'future'") review
